{% extends 'base.html.twig' %}

{% block title %}New Exercices{% endblock %}

{% block body %}
    <h1>Create new Exercices</h1>

    {{ include('modifications_exercices/_form.html.twig') }}

    <a href="{{ path('app_modifications_exercices_index') }}">back to list</a>
{% endblock %}
